{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'site.webmanifest' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Profile</title>
    <link rel="stylesheet" href="{% static 'single_page/style.css' %}">
</head>
<body>
    <header>
        <h1>Koyo Nakayama</h1>
        <img src="{% static 'single_page/images/IMG_0909.JPG' %}" alt="Portrait of Koyo Nakayama">
    </header>
    <main>
        <section class="objective">
            <h2>Objective</h2>
            <p>Dedicated and accomplished Electrical and Electronic Engineering graduate with a Master's degree seeking a challenging role in a dynamic environment. Experienced in cutting-edge research, I have specialized in developing advanced algorithms, particularly in medical image segmentation. My expertise extends to data engineering, BI system development, and QA automation in web development. I am eager to apply my skills and contribute to innovative projects, leveraging my technical proficiency and research background.</p>
        </section>
        <section class="education">
            <h2>Education</h2>
            <ul>
                <li>Master of Engineering in Electrical and Electronic Engineering - <a href="https://www.tuat.ac.jp/en/" target="_blank">Tokyo University of Agriculture and Technology</a> (2017-2019)</li>
                <li>Bachelor of Science in Electrical and Electronic Engineering - <a href="https://www.utsunomiya-u.ac.jp/en/" target="_blank">Utsunomiya University</a> (2013-2017)</li>
            </ul>
        </section>
        <section class="publications">
            <h2>Publications</h2>
            <ul>
                <li>Conference paper (Abstract-Reviewed) - Koyo Nakayama, Atsushi Saito, Elijah Biggs, Marius George Linguraru, Akinobu Shimizu, “Liver Segmentation from a pediatric CT volume based on joint optimization with a conditional statistical shape model”, <a href="https://biomedicalimaging.org/" target="_blank">The IEEE International Symposium on Biomedical Imaging</a>, Apr 8-11, 2019.</li>
                <li>Journal publication (Peer-Reviewed) - Koyo Nakayama, Atsushi Saito, Elijah Biggs, Marius George Linguraru, Akinobu Shimizu, <a href="https://link.springer.com/article/10.1007/s11548-019-01929-x" target="_blank">“Liver segmentation from low-radiation-dose pediatric computed tomography using patient-specific, statistical modeling”</a>, <a href="https://link.springer.com/journal/11548" target="_blank">International Journal of Computer Assisted Radiology and Surgery</a>, vol. 14, 2019, pp. 2057-2068.</li>
                <li>Conference paper (Peer-Reviewed) - Atsushi Saito, Koyo Nakayama, Antonio R. Porras, Awais Mansoor, Elijah Biggs, Marius George Linguraru, Akinobu Shimizu, <a href="https://link.springer.com/chapter/10.1007/978-3-030-00934-2_75" target="_blank">“Construction of a Spatiotemporal Statistical Shape Model of Pediatric Liver from Cross-Sectional Data”</a>, <a href="http://www.miccai.org/" target="_blank">Medical Image Computing and Computer Assisted Intervention</a>, Sep. 16-20, 2018, pp. 676-683.</li>
            </ul>
        </section>
        <section class="work-experience">
            <h2>Work Experience</h2>
            <ul>
                <li>Data Analyst - <a href="https://www.ambl.co.jp/" target="_blank">AMBL Inc.</a> (2023-Present)</li>
                <li>Process Improvement Engineer - <a href="https://global.honda/jp/" target="_blank">Honda Motor Co, Ltd.</a> (2019-2023)</li>
            </ul>
        </section>
        <section class="certifications">
            <h2>Certifications</h2>
            <ul>
                <li><a href="https://skillshop.credential.net/e7bd807e-a80f-48be-8259-f9e5c25d528f" target="_blank">Google Analytics Certification</a> - Certified on 2024-03-19</li>
                <li><a href="https://www.credential.net/6989cea1-70fd-49dc-881d-3971fe02dc27" target="_blank">Google Cloud Certified Cloud Digital Leader</a> - Certified on 2024-03-17</li>
                <li><a href="https://www.credly.com/badges/9885de90-e284-495d-8ca8-6cb2c85234bf/public_url" target="_blank">AWS Certified Cloud Practitioner</a> - Certified on 2024-03-06</li>
                <li><a href="https://learn.microsoft.com/api/credentials/share/en-us/KoyoNakayama-3073/D294E2D5B278E0B1?sharingId=FAE4BA0390D79F28" target="_blank">Microsoft Certified Azure Data Fundamentals</a> - Certified on 2024-02-24</li>
                <li><a href="https://learn.microsoft.com/api/credentials/share/en-us/KoyoNakayama-3073/7DEB9C7D560EDE18?sharingId=FAE4BA0390D79F28" target="_blank">Microsoft Certified Azure AI Fundamentals</a> - Certified on 2024-02-18</li>
                <li><a href="https://learn.microsoft.com/api/credentials/share/en-us/KoyoNakayama-3073/EE9042BFB2B3BFB4?sharingId=FAE4BA0390D79F28" target="_blank">Microsoft Certified Azure Fundamentals</a> - Certified on 2024-02-12</li>
                <li><a href="https://www.openbadge-global.com/api/v1.0/openBadge/v2/Wallet/Public/GetAssertionShare/VjJ5VVZDQVFZdGFFMXFzcW1UbnNxQT09" target="_blank">Japan Statistical Society Certificate, Grade Pre-1</a> - Certified on 2024-02</li>
                <li>Applied Information Technology Engineer - Certified on 2023-12</li>
                <li><a href="https://www.credly.com/badges/fc43f199-fd61-4b42-917b-e23446333baa/public_url" target="_blank">Tableau Desktop Specialist</a> - Certified on 2023-08-07</li>
                <li>Python 3 Data Analyst Certification - Certified on 2023-06</li>
                <li>Python 3 Basic Grammer Certification - Certified on 2023-06</li>
                <li>The Official Business Skills Test in Bookkeeping, 3rd grade - Certified on 2022-08</li>
                <li><a href="https://www.openbadge-global.com/api/v1.0/openBadge/v2/Wallet/Public/GetAssertionShare/N3ZQZis4dTNGZHl0K3lwMExIOUc3QT09" target="_blank">JDLA Deep Learning for GENERAL 2020#3</a> - Certified on 2020-11</li>
            </ul>
            <h2>Certification Badges</h2>
            <a href="https://skillshop.credential.net/e7bd807e-a80f-48be-8259-f9e5c25d528f" target="_blank"><img src="{% static 'single_page/images/5b0b6273-8893-49f3-9b5f-b9a288e02177.png' %}" alt="Google Analytics Certification Badge"></a>
            <a href="https://www.credential.net/6989cea1-70fd-49dc-881d-3971fe02dc27" target="_blank"><img src="{% static 'single_page/images/cloud-digital-leader-certification.png' %}" alt="Google Cloud Certified Cloud Digital Leader Badge"></a>
            <a href="https://www.credly.com/badges/9885de90-e284-495d-8ca8-6cb2c85234bf/public_url" target="_blank"><img src="{% static 'single_page/images/aws-certified-cloud-practitioner.png' %}" alt="AWS Certified Cloud Practitioner Badge"></a>
            <a href="https://www.openbadge-global.com/api/v1.0/openBadge/v2/Wallet/Public/GetAssertionShare/VjJ5VVZDQVFZdGFFMXFzcW1UbnNxQT09" target="_blank"><img src="{% static 'single_page/images/image_20240324164810.png' %}" alt="Japan Statistical Society Certificate Badge"></a>
            <a href="https://www.credly.com/badges/fc43f199-fd61-4b42-917b-e23446333baa/public_url" target="_blank"><img src="{% static 'single_page/images/tableau-desktop-specialist.png' %}" alt="Tableau Desktop Specialist Badge"></a>
            <a href="https://www.openbadge-global.com/api/v1.0/openBadge/v2/Wallet/Public/GetAssertionShare/N3ZQZis4dTNGZHl0K3lwMExIOUc3QT09" target="_blank"><img src="{% static 'single_page/images/image_20240324164826.png' %}" alt="JDLA Deep Learning for GENERAL 2020#3 Badge"></a>
        </section>
        <section class="languages">
            <h2>Languages</h2>
            <div id="language-list">
                <div class="language-item">
                    <h3>Japanese</h3>
                    <p>Level: Native</p>
                </div>
                <div class="language-item">
                    <h3>English</h3>
                    <p>Level: Independent User</p>
                    <p>Description: The figure below visualizes the transition of my TOEIC score. <a href="https://www.ets.org/toeic.html" target="_blank">TOEIC</a> stands for Test of English for International Communication and is a standardized test designed to assess the English language proficiency of non-native speakers in professional and business contexts. I have only taken the TOEIC listening and reading sections. Speaking and writing scores are predicted from their scores based on <a href="https://www.iibc-global.org/hubfs/library/default/toeic/official_data/sw/pdf/score_comparison_list.pdf" target="_blank">information from IIBC</a>, which operates the TOEIC. According to <a href="https://www.iibc-global.org/toeic/official_data/toeic_cefr.html" target="_blank">additional information from IIBC</a>, my latest scores correspond to CEFR B2 level for listening, reading, and writing, and B1 level for speaking, indicating that I am an independent user of English.</p>
                    <div id="english-cefr-level">
                        {{ plot_div | safe }}
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer style="background-color: #333; color: white; text-align: center; padding: 20px;">
        <p>This profile page is powered by <a href="https://www.djangoproject.com/" target="_blank">Django</a> and developed by Koyo Nakayama.</p>
    </footer>
</body>
</html>